.facility_main{
    width: 100%;
    min-height: 20rem;
    background-image: url("https://img.freepik.com/free-photo/school-supply-copy-space-chalkboard-background_1409-7770.jpg?t=st=1707202537~exp=1707206137~hmac=cf1f1d7fbc92df2730a7fd42fb8b4654d0ca4c4baacf96e83a4008bb506aafe3&w=1060");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.facility_main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    z-index: 0;
}

.facility_main .cards{
    width: 200px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem 1rem; */
}