.image_shadow {
  position: relative;
}

.image_shadow::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    357deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 7, 8, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  bottom: 0;
  left: 10px;
  right: 0;
  top: 0;
  z-index: -1; /* Set a z-index lower than other elements to position it behind */
}
