.about_container {
  background-image: url("/Banner Background/About_banner.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-image-width: 100%;
  position: relative;
}

.about_container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 38, 43, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slide_up_image {
  position: absolute;

  width: 18rem;
  height: 18rem;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  animation: slide_up 1s ease-in forwards,
    swing 2.5s linear 1.5s infinite forwards;
}

.line {
  animation: grow 1s ease-in-out forwards;
}
.arrow {
  animation: show 1s ease-in-out forwards;
}

.achieve_image::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  background-color: rgba(1, 25, 90, 0.89);
}

@keyframes arrow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes slide_up {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(-100px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@media only screen and (max-width: 812px) {
  .slide_up_image {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 552px) {
  .slide_up_image {
    width: 10rem;
    height: 10rem;
  }
}
