.text-card{
    width: 18rem;
    height: 15rem;
    transition: all 0.5s;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.text-card:hover{
    height: 18rem;
    transition: all 0.5s;
}
.text-card .imgBx{
    /* width: 250px;
    height: 120px; */
    position: absolute;
    border-radius: 12px;
    top: 20px;
    transition:all 0.5s;
    z-index: 1;
    /* background-color: white; */
}
.text-card .imgBX img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.text-card:hover .imgBx{
    top: -70px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0,0.2);
}

.text-card .content h2{
    font-size: 25px;
    margin-bottom: 13px;
}
.text-card .content{
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 189px;
    overflow: hidden;
    height: 30px;
    transition:all 0.8s;
}

.text-card:hover .content{
    top: 90px;
    height: 250px;
}

.card_wrapper .text-card .content a{
    padding: 0.5rem 1rem;
    background-color: rgb(5, 5, 100);
    margin-top: 200px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    position: relative;
    top: 20px;
}

@media  screen and (max-width:768px) {
    .card_wrapper{
        gap:0.5rem ;
    }
}