.banner_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
  animation: scaleImage 5s forwards ease-in-out;
}
.image-animation1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
  animation: scaleImage1 5s forwards ease-in-out;
}

.banner_text {
  position: absolute;
  z-index: 10;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  font-size: 50px;
}
.text_animation {
  transition: transform 0.5s ease-in-out;
  animation: textSlideRight 1.5s forwards ease-in-out;
}
.text_animation1 {
  transition: transform 0.5s ease-in-out;
  animation: textSlideLeft 1.5s forwards ease-in-out;
}

/* @keyframes scaleImage {
  0% {
    transform: scale(1.1);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-500px)
    
  }
  50%{
    filter: blur(2px);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px)
  }
} */
@keyframes scaleImage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* @keyframes scaleImage1 {
  0% {
    transform: scale(1.1);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(500px)
    
  }
  50%{
    filter: blur(2px);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px)
  }
} */
@keyframes scaleImage1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes textSlideRight {
  0% {
    transform: translateX(500px);
  }
  50% {
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes textSlideLeft {
  0% {
    transform: translateX(-500px);
  }
  50% {
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 767px) {
  .banner_text {
    font-size: 33px;
  }
}
